html
  head
    title Jamis Johnson
    meta(name='description', content='Personal website for Jamis Johnson')
    meta(name='viewport', content='width = device-width, initial-scale = 1')

    // STYLESHEET
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // FONT AWESOME
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
    // PURE CSS RESPONSIVE GRID SYSTEM
    //if lte IE 8
    link(rel='stylesheet', href='http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-old-ie-min.css')
    // [if gt IE 8] <!
    link(rel='stylesheet', href='http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css')
    // <![endif]
    // GOOGLE FONTS - MONTSERRAT & RALEWAY
    link(href='http://fonts.googleapis.com/css?family=Montserrat:700|Raleway:300,700', rel='stylesheet', type='text/css')
    // JQUERY
    // TODO script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    // BROWSERIFIED JAVASCRIPT
    script(src='js/bundle.js')
  body
    #navigation.montserrat
      span.padding
        a.work-nav.border(type="button") Work
      span.padding
        a.play-nav.border(type="button") Personal
      span.padding
        a.border(href='mailto:jamismanwaring@gmail.com') Contact
    #landing
      #intro.montserrat.title
        | Hi, my 
        br
        | name is 
        br
        | Jamis
        br
        | Johnson
    #work
      .container
        .montserrat.header
          | I'm a student at Columbia studying machine learning
        .raleway.subheader.withborder
          | Alongside teaching machines, I'm partial to distributed systems, 
          | functional programming, and the history of math and computation.
        .raleway.subheader
          b Programming
          | : Python, Haskell, JavaScript, OCaml
          br
          b Environment
          | : Vim, Unix, Git, AWS
          br
          b Currently
          | : Fiddling with DeepMind's 
          a(href="") Deep Q-Networks 
          | code
        .pure-g
          .pure-u-1-3
            .montserrat.subheader.button
              a.workbutton(href='http://github.com/jamiis', target='_blank') Github
          .pure-u-1-3
            .montserrat.subheader.button
              a.workbutton(href='mailto:jamismanwaring@gmail.com', target='_blank') Contact
          .pure-u-1-3
            .montserrat.subheader.button
              a.workbutton(href='https://github.com/jamiis/resume/blob/master/README.md', target='_blank') Resume
        .pure-g
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
            .padding.raleway
              a.icon(href='submodules/presentation-convolutional-neural-nets' target='_blank')
                i.fa.fa-sitemap.fa-5x.light
              .montserrat.withborder
                | ConvNet Presentation
                br
                a(href='submodules/presentation-convolutional-neural-nets' target='_blank') Slides
              | A presentation of three seminal papers on deep convolutional neural networks
              br
              br
              b Learned
              | : Advanced convnet techniques including deconvolutional nets
              | and network-in-network deep learning optimization
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
            .padding.raleway
              a.icon(href='http://movieexplorer.me' target='_blank')
                i.fa.fa-film.fa-5x.light
              .montserrat.withborder
                | Movie Explorer
                br
                a(href='http://movieexplorer.me' target='_blank') Live 
                | | 
                a(href='https://github.com/jamiis/movie-explorer' target='_blank') Code 
              | Spatially explore movie relationships to discover new movies. Created at PennApps Winter 2015.
              br
              br
              b Learned
              | : Speedily repurposing existing code
              br
              b Tools
              | : D3.js, Knockout.js, Flask, Rotten Tomatoes & YouTube APIs, DigitalOcean
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
            .padding.raleway
              a.icon(href='https://github.com/quarklang/QUARK' target='_blank')
                i.fa.fa-magic.fa-5x.light
              .montserrat.withborder
                | Quark
                br
                a(href='https://github.com/quarklang/QUARK' target='_blank') Code 
                | | 
                a(href='http://slides.com/quarklang/quark/' target='_blank') Slides
              | A language and compiler implemented in 
              | OCaml to simplify building quantum circuits. 
              br
              br
              b Learned
              | : Compiler design, team patience
              br
              b Tools
              | : OCaml, ocamlyacc/lex, C++, Bash, Vagrant
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
            .padding.raleway
              a.icon(href='https://github.com/jamiis/repommender' target='_blank')
                i.fa.fa-github-alt.fa-5x.light
              .montserrat.withborder
                | Repommender
                br
                a(href='https://github.com/jamiis/repommender' target='_blank') Code 
                | | 
                a(href='submodules/repommender-presentation' target='_blank') Slides
              | A recommender system for github repos
              br
              br
              b Learned
              | : Building a massively scalable recommendation system using Spark on Elastic MapReduce
              br
              b Tools
              | : Spark, Elastic MapReduce, EC2, Github API, Python, 
              | Coffeescript, Node, Express, Jade
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
            .padding.raleway
              a.icon(href='https://github.com/quarklang/QUARK' target='_blank')
                i.fa.fa-globe.fa-5x.light
              .montserrat.withborder
                | Tweet Sentiment & Heat Map
                br
                a(href='https://github.com/jamiis/tweet-map' target='_blank') Code 
              | A live heat map of Twitter traffic that analyzes sentiment
              br
              br
              b Learned
              | : Deploying multiple instances of load-balanced apps on AWS EC2 
              | using Elastic Beanstalk
              br
              b Tools
              | : Google Maps API, Twitter API, Node/Express, socket.io, Alchemy API, DynamoDB, lodash, EC2, ELB
          .pure-u-1.pure-u-md-1-2.pure-u-lg-1-2
            .padding.raleway
              a.icon(href='submodules/intro-to-ocaml' target="_blank")
                i.fa.fa-motorcycle.fa-5x.light
              .montserrat.withborder
                | Intro to OCaml
                br
                a(href='http://youtu.be/FIQNbcx1r8s' target="_blank") YouTube 
                | | 
                a(href='submodules/intro-to-ocaml' target="_blank") Slides
              | A 
              a(href='http://localhackday.mlh.io/schedule.html' target="_blank") Local Hack Day 
              | presentation live streamed to 29 Universities across the US & Canada
              br
              br
              b Learned
              | : Presenting to thousands of hackers
              br
              b Tools
              | : reveal.js
    #play
      .container
        .montserrat.header
          | In my spare time I work on my motorcycle, play guitar, ski, and skateboard.
        .raleway.subheader.withborder
          | I also enjoy reading non-fiction, Netflix'ng, doing crosswords, being an armchair economist, and grabbing a pint or three with friends.
          br
          br
          b Currently reading
          | : 
          i Gödel, Escher, Bach
          |  by Douglas Hofstadter
          br
          b Currently watching
          | : 
          i Parks & Recreation
          | , Season 5
        // SOCIAL MEDIA
        .pure-g.narrow
          .pure-u-1-4
            .halfpadding
              a.icon(href='https://twitter.com/jamisjohnson', target='_blank')
                i.fa.fa-twitter.fa-5x.dark
          .pure-u-1-4
            .halfpadding
              a.icon(href='http://p01ym47h.tumblr.com/', target='_blank')
                i.fa.fa-tumblr.fa-5x.dark
          .pure-u-1-4
            .halfpadding
              a.icon(href='http://instagram.com/_jamis_', target='_blank')
                i.fa.fa-instagram.fa-5x.dark
          .pure-u-1-4
            .halfpadding
              a.icon(href='https://www.facebook.com/jamis.johnson', target='_blank')
                i.fa.fa-facebook.fa-5x.dark
        // END SOCIAL MEDIA
        footer
          i.fa.fa-copyright.dark
          |  Jamis Johnson, 2015
