body, html {
	background-color: #FDFDFD;
	color: #212E3C;
}

.grid {
	margin: auto;
}

.item {
	width: 300px;
	margin-bottom: 10px;
}

.half {
	width: 40%;
	padding: 15px;
	display: inline-table;
}

img {
	width: 100%;
}

.padding10 {
	padding: 10px;
}

#navigation {
	background-color: #FDFDFD;
	display: block;
}

:focus {
	outline: 0;
}