[submodule "intro-to-ocaml"]
	path = submodules/intro-to-ocaml
	url = https://github.com/jamiis/intro-to-ocaml
[submodule "presentation-convolutional-neural-nets"]
	path = submodules/presentation-convolutional-neural-nets
	url = git@github.com:jamiis/presentation-convolutional-neural-nets.git
[submodule "repommender-presentation"]
	path = submodules/repommender-presentation
	url = https://github.com/jamiis/repommender-presentation
[submodule "q-deep-eye-presentation"]
	path = submodules/q-deep-eye-presentation
	url = git@github.com:jamiis/q-deep-eye-presentation.git
