/* COLORS 
* Red: #CE513E;
* Yellow: #E9B13D;
* Teal: #93C6A2;
* Blue: #3E5167;
* Beige: #F5F4BE;
# Dark blue: #212E3C;
*/

html, body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    width: 100%;
    height: 100%;
}

#navigation {
	position: fixed;
	width: 100%;
	text-align: right;
	padding-top: 15px;
}

#landing, #work, #play {
    width: 100%;
    min-height: 100%;
}

#landing {
    background-color: #CE513E;
    color: #E9B13D;
}

#work {
    background-color: #93C6A2;
    color: #F5F4BE;
}

#play {
    background-color: #E9B13D;
    color: #3E5167;
}

/* container formatting */

.container {
	width: 95%;
	max-width: 960px;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.narrow {
	max-width: 500px;
	margin: auto;
}

.padding {
	padding: 30px;
}

.halfpadding {
	padding: 15px;
}

.button {
	padding-top: 60px;
	min-height: 70px;
}

/* image formatting */

.onefifty {
	width: 150px;
	height: 150px;
}

/* text formatting */

.montserrat {
	font-family: "Montserrat";
	text-transform: uppercase;
	font-weight: 700;
}

.raleway {
	font-family: "Raleway";
}

.title {
	font-size: 100pt;
	line-height: 90pt;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 50px;
}

.header {
	font-size: 50pt;
}

.subheader {
	font-size: 18pt;
}

.withborder {
	border-bottom: 1px solid;
	margin: 15px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 15px;
}

/* links */

a:LINK, a:VISITED {
	text-decoration: none;
	color: #212E3C;
	font-weight: 700;
	transition: linear 0.3s;
}

a:HOVER {
	color: #3E5167;
}

a img:HOVER {
	opacity: 0.8;
	transition: linear 0.3s;
}

a.workbutton:LINK, a.workbutton:VISITED {;
    color: #F5F4BE;
    padding: 30px;
    border: 3px #F5F4BE solid;
}

a.workbutton:HOVER {
    background-color: #F5F4BE;
    color: #93C6A2;
}

/* Media queries for responsive design */

@media (max-width: 800px) {
  	a.workbutton:LINK, a.workbutton:VISITED {;
  	    color: #F5F4BE;
  	    padding: 20px;
  	    border: 3px #F5F4BE solid;
  	    font-size: 12pt;
  	}

  	.header {
  		font-size: 30pt;
  	}

  	.subheader {
  		font-size: 14pt;
  	}

  	.title {
  		font-size: 60pt;
  		line-height: 60pt;
  	}

    .padding {
      padding: 10px;
    }

} 

@media (max-width: 600px) {
    a.workbutton:LINK, a.workbutton:VISITED {;
        color: #F5F4BE;
        padding: 12px;
        border: 2px #F5F4BE solid;
        font-size: 8pt;
    }

    a.workbutton:HOVER {
      color: #93C6A2;
    }

    .title {
      font-size: 30pt;
      line-height: 30pt;
      padding: 20px;
    }

    .header {
      font-size: 24pt;
    }

    .container {
      padding-top: 50px;
    }

    #navigation {
      text-align: center;
    }

} 