
body {
    margin: 0;
    padding: 0;
}

/* containers */

    #landing, #work, #play {
        width: 100%;
        min-height: 100%;
    }

    .container {
        max-width: 960px;
        padding: 30px;
        margin: 0 auto;
        text-align: center;
    }

    #landing {
        background-color: #CE513E;
        color: #E9B13D;
    }

    #work {
        background-color: #93C6A2;
        color: #F5F4BE;
    }

    #play {
        background-color: #E9B13D;
        color: #3E5167;
    }

    .name {
        font-family: "Montserrat";
        font-size: 100pt;
        line-height: 90pt;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 60px;
    }

/* text formatting */

    .title {
        padding-top: 100px;
        font-family: "Montserrat";
        font-size: 50pt;
        text-transform: uppercase; 
        margin: auto;
    }

    .subtitle, .skills, .social, .projects {
        font-family: "Raleway";
        font-weight: 300;
        font-size: 18pt;
        padding: 20px;
        max-width: 800px;
        margin: auto;
    }

    .subtitle {
        border-bottom: 1px solid;
    }

    .links {
        padding: 40px;
        font-size: 18pt;
    }

/* links */
    
    a:LINK, a:VISITED {
        text-decoration: none;
        font-weight: 700;
        color: #3E5167;
    }

    a:HOVER {
        opacity: 0.6;
        transition: linear 0.3s;
    }
    
    #navigation {
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        text-align: right;
    }

    a.nav:LINK, a.nav:VISITED {
        font-family: "Montserrat";
        text-transform: uppercase;
        text-decoration: none;
        color: #212E3C;
        padding-right: 40px;   
        padding-bottom: 10px;
    }

    a.worklink:LINK, a.worklink:VISITED {
        font-family: "Montserrat";
        text-transform: uppercase;
        text-decoration: none;
        color: #F5F4BE;
        padding: 30px;
        padding-left:  40px;
        padding-right: 40px;
        margin: 20px;
        border: 3px #F5F4BE solid;
    }

    a.worklink:HOVER {
        background-color: #F5F4BE;
        color: #93C6A2;
        opacity: 1;
    }    
